/* CSS Document */

body{
padding:0 0 0 0;
margin:0 0 0 0;
font:normal 12px/15px "Arial", Helvetica, sans-serif;
color:#000000;
background: #C1D4DD;
}

td, div, h1, h2, h3, h4, input, p, a, form{
padding:0 0 0 0;
margin:0 0 0 0;
}

img{
padding:0 0 0 0;
margin:0 0 0 0;
display:block;
border:none;
}
ul{
list-style-type:none;
padding:0 0 0 0;
margin:0 0 0 0;
}

.spacer{
line-height:0px;
clear:both;
font-size:0px;
}

/* ----------------- login -----------------*/

#regi_in{
width:400px;
margin:100px auto;
background-color:#FFFFFF;
}
#regi_in_top{
margin:0 0 0 0;
}
#regi_in_top h2{
font: normal 30px/30px tahoma, Arial, Helvetica, sans-serif;
color:#000;
text-transform:uppercase;
border-bottom:solid 3px #000000;
padding:0 0 0 20px;
}


.regi h2{
font: bold 14px/17px tahoma, Arial, Helvetica, sans-serif;
color: #000000;
margin:0 0 24px 0;
}

.tala{
padding:50px 0 0 0;
}
.login-txt{
padding:42px 0 0 16px;
}
.login-txt h3{
font:bold 18px/21px tahoma, Arial, Helvetica, sans-serif;
color:#000000;
margin:0 0 33px 0;
}

.login-txt p{
float:left;
margin:0 4px 0 0;
text-align:right;
}
.color{
font:normal 11px Arial, Helvetica, sans-serif;
color:#e08003;
margin:0 0 0 170px;
}
#paword{
padding:0 0 0 5px;
width:295px;
}
#paword span{
padding:0 0 0 0;
margin:0 0 0 70px;
}
#log_but{
padding:20px 0 0 110px;
width:190px;
}
#log_but input{
float:left;
}
#log_but p{
margin:6px 0 0 8px;
font:bold 12px tahoma, Arial, Helvetica, sans-serif;
color:#000;
}

