
<!--<div class="bodywrap homepage">-->
<!--  <div class="container">-->
    <!-- header -->
<div class="content" width="50%" margin="auto">
<div class="header" xmlns="http://www.w3.org/1999/html">
      <!--  <s:actionmessage cssClass="infomsg" cssStyle="background-color: #FFF1A8; display: block; left: 370px; margin: 10px 100px 0; padding: 5px; position: fixed; text-align: center; top: 10px; width: 300px;	-moz-border-radius: 1em 1em 1em 1em; -webkit-border-radius: 1em 1em 1em 1em; border-radius: 1em 1em 1em 1em;"/>-->

      <div class="login" *ngIf="isUserLoggedIn;else userNotLoggedIn">
        <div class="logo"><a href="home"><img src="../assets/images/logo02.png" alt="C3 Clean Glassy Corporate" width="238" border="0" height="78" /></a></div>

        <div  class="topnav topnav-right" >
          <div class="row">
            <div class="col">
              <a href="pricing"><img height="35" border="0" width="135" alt="Plans and Pricing" src="../assets/images/btn-plans.gif" /></a>
            </div>  <!--col-->
          </div>  <!--row-->
          <div class="row">
            <div class="col">
              <a  class="nav-link" [routerLink]="['/register']"><!--Already registered?--> Edit Profile. </a>
              <a class="nav-link" (click)="logout()"><!--Already registered?--> Logout </a>

            </div>  <!--col-->
          </div>  <!--row-->

        <!--<a href="/register" class="nav-link" routerLink="register"><img height="35" border="0" width="175" alt="Free Sign Up" src="../assets/images/btn-signup.gif" /></a><a href="pricing"><img height="35" border="0" width="135" alt="Plans and Pricing" src="../assets/images/btn-plans.gif" /></a>
        &lt;!&ndash; <p> <a href="/login" class="nav-link" routerLink="login">&lt;!&ndash;Already registered?&ndash;&gt; Sign In. </a>  <a href="forgotPassword">Forgot Password ?</a></p>&ndash;&gt;
        <p>  <p> <a class="nav-link" (click)="logout()">&lt;!&ndash;Already registered?&ndash;&gt; Logout </a>  </p>  <a href="forgotPassword">Forgot Password ?</a>
        <a  class="nav-link" [routerLink]="['/register']">&lt;!&ndash;Already registered?&ndash;&gt; Edit Profile. </a>
        <p class="logintext">
          &lt;!&ndash; <s:form theme="simple" action="processLogin">
             <s:textfield name="userId" id="userId" size="17" />
             <s:password name="password" id="password" size="17" />
             <s:submit value="login" />
           </s:form>&ndash;&gt;
        </p>-->

      </div>
      </div>
     <ng-template #userNotLoggedIn>
       <div class="logo"><a href="home"><img src="../assets/images/logo02.png" alt="C3 Clean Glassy Corporate" width="238" border="0" height="78" /></a></div>
      <div  class="topnav topnav-right" >
        <div class="row">
          <div class="col">
            <a href="/register" class="nav-link" routerLink="register"><img height="35" border="0" width="175" alt="Free Sign Up" src="../assets/images/btn-signup.gif" /></a>
            <a href="pricing"><img height="35" border="0" width="135" alt="Plans and Pricing" src="../assets/images/btn-plans.gif" /></a>
          </div>  <!--col-->
        </div>  <!--row-->
        <div class="row">
          <div class="col">
            <a  class="nav-link" [routerLink]="['/login']"><!--Already registered?--> Sign In. </a>
            <a href="forgotPassword">Forgot Password ?</a>
          </div>  <!--col-->
        </div>  <!--row-->
       <!-- <p> <a href="/login" class="nav-link" routerLink="login">&lt;!&ndash;Already registered?&ndash;&gt; Sign In. </a>  <a href="forgotPassword">Forgot Password ?</a></p>-->


         <!-- <s:form theme="simple" action="processLogin">
            <s:textfield name="userId" id="userId" size="17" />
            <s:password name="password" id="password" size="17" />
            <s:submit value="login" />
          </s:form>-->

      </div>
     </ng-template>
      <div class="topmenu">
        <ul>
          <li><a [routerLink]="['/web-home']" class="active"><span>Home</span></a></li>
          <li><a [routerLink]="['/web-services']"><span>Services</span></a></li>
          <li><a [routerLink]="['/web-pricing']"><span>Pricing</span></a></li>
          <!--  <li><a href="work.html"><span>Work</span></a></li>-->
          <li><a  [routerLink]="['/web-about']"><span>About</span></a></li>
          <li><a  [routerLink]="['/web-contact']"><span>Contact</span></a></li>
          <!-- <li class="last"><a href="blog"><span>Blog</span></a></li> -->
          <li class="last"><a [routerLink]="['/web-howitworks']"><span>How it works?</span></a></li>

        </ul>

      </div>
    </div>
    <div class="clear"></div>

    <!--/ header -->
 <!-- </div> &lt;!&ndash;container&ndash;&gt;-->
<!--  </div> &lt;!&ndash;bodywrap&ndash;&gt;-->
 </div>  <!--content-->
