

  <!-- middle -->
    <div class="middle container">
      <!-- content -->
      <div class="wrapper">
        <div class="content">
          <!-- top box-->
          <div class="topbox">
            <div class="topbox-image"><img src="../../assets/images/services_desk.png" alt="" width="483" border="0" height="325"/></div>
            <div class="topbox-right">
              <div class="topbox-text">
                <div class="topbox-title"><strong>Introduction</strong></div>
                <p align="justify">Adwiise Services is a division of adwiise that
                  offers value-added training and services. We can help you do
                  more with your digital signage system, increasing the return
                  on your investment.</p>
              </div>
              <!-- <p><a href="#" class="btn-video">Watch Video</a></p> -->
            </div>
            <div class="clear"></div>
          </div>
          <!--/ top box-->
          <!-- text content -->
          <div class="text">
            <h1>Types of adwiise Services</h1>
            <!-- <p class="text-big">Ten years ago a crack commando unit was sent to
              prison by a military court for a crime they didn't commit. These
              men promptly escaped from a maximum security stockade to the Los
              Angeles underground.</p> -->
            <!-- horizontal boxes -->
            <div class="horizontal-box">
              <!-- <div class="horizontal-image"><img src="../../assets/images/tmp_image_1.gif" alt="" width="90" height="80"></div> -->
              <h2>Consulting Services</h2>
              <p>Need help getting your network up and running When you are stumped
                by a major technical problem or challenging installation, you
                can hire our expert team to help out. We can assist with system
                configuration and networking issues as well as custom
                programming. With  years of experience and the
                best digital signage experts in the world, we are sure to have
                the resources you need.</p>
              <div class="clear"></div>
            </div>
            <div class="horizontal-box">
              <!-- <div class="horizontal-image"><img src="../../assets/images/tmp_image_2.gif" alt="" width="90" height="80"></div> -->
              <h2>Project Management Services</h2>
              <p>We know that rolling out a digital signage network is not always
                as easy as it seems, but our Project Management Services can make
                it a breeze. We will help you through every step of the process
                and offer our suggestions on best practices and how to avoid pitfalls.
                Whether you needs a few hours of help or if you need us to manage
                the entire deployment, we are happy to help.</p>
              <div class="clear"></div>
            </div>
            <div class="horizontal-box">
              <!-- <div class="horizontal-image"><img src="../../assets/images/tmp_image_2.gif" alt="" width="90" height="80"></div> -->
              <h2>Content Services</h2>
              <p>Digital signage applications are all about content. Whether it is
                information, education or advertising, content is often the most
                critical factor in the success of a network. Content Services
                enable you to achieve your communication goals quickly and effectively.
                Adwiise Content Services can help you create or create for you
                the best possible content for your environment. Whether you need
                help creating a template, or want to have adwiise do all of the
                work, Adwiise Content Services will provide you with amazing results.</p>
              <div class="clear"></div>
            </div>
            <div class="horizontal-box">
              <!-- <div class="horizontal-image"><img src="../../assets/images/tmp_image_2.gif" alt="" width="90" height="80"></div> -->
              <h2>Information Services</h2>
              <p>Adwiise offers many options for integrating third party information
                into your digital signage network. If you are looking to integrate
                engaging real-time content into your digital signage, adwiise
                software can quickly and easily connect to Information Services
                like Accuweather.com, Data Call, and virtually any RSS or real-time
                feeds. These Information Services are available from third parties
                and offer great attention-grabbing content for your audience.</p>
              <div class="clear"></div>
            </div>
            <div class="horizontal-box">
              <!-- <div class="horizontal-image"><img src="../../assets/images/tmp_image_2.gif" alt="" width="90" height="80"></div> -->
              <h2>Pre-Sales Consulting</h2>
              <p>If you are looking to start out with a pilot or to see what customization
                you could do with adwiise software, pre-sales consulting can help
                you decide what would be the plan for you and your company to
                leverage while rolling out a digital signage solution. Pre-sales
                consulting services give the upfront support you need to make
                sure that your big plans for your digital signage network turn
                into reality.</p>
              <div class="clear"></div>
            </div>
            <!--/ horizontal boxes -->
            <!-- vertical boxes -->
            <!--  <div class="white-box">
              <div class="vertical-box">
                <h2>Helping you get the best results</h2>
                <p>Straight'nin' the curve, flat'nin' the hills. Someday the mountain
                  might get 'em, but the law never will. Makin' their way, the
                  only way they know how, that's just a little bit more than the
                  law will allow.</p>
              </div>
              <div class="vertical-box">
                <h2>30 days Free, no registration required</h2>
                <p>Straight'nin' the curve, flat'nin' the hills. Someday the mountain
                  might get 'em, but the law never will. Makin' their way, the
                  only way they know how, that's just a little bit more than the
                  law will allow.</p>
              </div>
              <div class="white-box-bot"></div> -->
            <div class="white-box nobg">
              <h2>Benefits of adwiise Services:</h2>
              <div class="vertical-box">
                <ul>
                  <li><strong>Improve the look of your digital signage network.</strong>
                    Better looking content gets noticed and has a greater impact.</li>
                  <li><strong>Maximize the benefits of your digital signage network</strong>
                    while reducing costs of operation.</li>
                </ul>
              </div>
              <div class="vertical-box">
                <ul>
                  <li><strong>Learn how to use adwiise from experts</strong> who
                    have years of experience with all kinds of applications.</li>
                  <li><strong>Discover new applications.</strong> See what else
                    you could be doing with adwiise.</li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!--/ vertical boxes -->
        </div>
        <!--/ text content -->
      </div>
      <!--/ content -->
      <!-- navigation -->
      <div class="navigation">
        <div class="left-menu">
          <ul>
            <li class="active"><a href="#">Featured showcased</a></li>
            <!-- <li><a href="#">Manage Projects</a></li>
            <li><a href="#">Email Integration</a></li>
            <li><a href="#">Massive Customization</a></li>
            <li><a href="#">Keep under Control</a></li>
            <li><a href="#">Reporting and Analytics</a></li> -->
          </ul>
        </div>
        <p><a href="registration"><img src="../../assets/images/btn-free-signup.gif" alt="Free Sign Up" width="179" border="0" height="40"/></a></p>
        <p><a href="pricing"><img src="../../assets/images/btn-pricing.gif" alt="Plans and Pricing" width="179" border="0" height="40"/></a></p>
      </div>
      <!--/ navigation -->
      <div class="clear"></div>
    </div>
    <!--/ middle -->

    <!--/ container -->
