      <div class="middle container">
        <!-- content -->
        <div class="wrapper">
          <div class="content">
            <!-- top box-->
            <div class="topbox">
              <div class="topbox-image"><img src="images/sonybox_2.jpg" alt="" width="400" border="0" height="200"/></div>
              <div class="topbox-right">

                <strong>Android Based Media Player</strong>
                <p align="justify">Adwiise uses Android based media player.</p>

                <!-- <p><a href="#" class="btn-video">Watch Video</a></p> -->
              </div>
              <div class="clear"></div>
            </div>
            <!--/ top box-->
            <!-- text content -->
            <div class="text">
              <p> <h4 align ="center">Adwiise App Set Up On Android Media Player [Device]</h4>
              <h4 align ="center">and</h4>
              <h4 align ="center">Web Application Usage Guide Lines</h4>

              <!-- <p class="text-big">Ten years ago a crack commando unit was sent to
                prison by a military court for a crime they didn't commit. These
                men promptly escaped from a maximum security stockade to the Los
                Angeles underground.</p> -->
              <!-- horizontal boxes -->
              <div class="horizontal-box">
                <!-- <div class="horizontal-image"><img src="images/template-images/tmp_image_1.gif" alt="" width="90" height="80"></div> -->
                <h2>Initial Steps</h2>
                <p><ul>
                <li>
                  Use Firefox browser  version 5.1 or above .</li>

                <li>
                  Make sure your computer display resolution is at least 1280 X 1024 .</li>

                <li>
                  Create an account in the online web application www.adwiise.com&nbsp; or call 312 343 0073 .

                  The "Create Account" button can be found on the top right corner of the home page.
                </li>
                <li>
                  Buy the <u>Android</u> Media Player from us [Should be <u>Android</u> OS 2.3 or above versions] .</li>
                <li>
                  The online account will be activated for you by us.</li>
                <li>
                  <u>logon</u> to the online application</li>
                <li>
                  Upload media files to you account using the web/desktop client application</li>
                <li>
                  Make sure there is calendar entries whose end dates are greater than the current date</li>
                <li>
                  click the create daily calendar button on the calendar page.</li>
                <li>
                  Let us know in advance the start and end time for the <u>app</u> to be played every day.</li>
              </ul>

                <div class="clear"></div>
              </div>
              <div class="horizontal-box">
                <!-- <div class="horizontal-image"><img src="images/template-images/tmp_image_2.gif" alt="" width="90" height="80"></div> -->
                <h2>Set Up WiFi</h2>
                <p>
                <ul>
                  <li>
                    On your device go to settings--&gt;wireless and networks--&gt; manage and set up a WiFi connection.</li>
                  <li>
                    Enable - Airplane Mode/Wi Fi</li>
                  <li>
                    On your device go to settings--&gt;wireless and networks--&gt; enable Airplane Mode --&gt; Enable Wi Fi</li>
                </ul>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; settings--&gt;wireless and networks--&gt;&nbsp; Enable Wi Fi</p>
                <ul>
                  <li>
                    &nbsp;Set the time in 24 hour format-</li>
                  <li>
                    &nbsp; settings--&gt;wireless and networks--&gt; Date &amp; Time -&gt; Use 24 Hr Format</li>
                </ul>


                <div class="clear"></div>
              </div>
              <div class="horizontal-box">
                <!-- <div class="horizontal-image"><img src="images/template-images/tmp_image_2.gif" alt="" width="90" height="80"></div> -->
                <h2>App Installation</h2>
                <p>
                <ul>
                  <li>
                    &nbsp;Create a directory in the device called adwiise_installables [ Internal Phone Storage] memory drive.</li>
                  <li>
                    &nbsp;Copy the first adwiise_signage_base&nbsp; apk &nbsp;[Base/Admin app] files received from adwiise into the above directory.</li>
                  <li>
                    &nbsp;Install the&nbsp;&nbsp; file by clicking on the above apk file</li>
                  <li>
                    &nbsp;once the above app is&nbsp; up and running , press the Device Machine Id button.</li>
                  <li>
                    &nbsp;Send us the value appearing on the dialog window.</li>
                  <li>
                    Once we confirm the activation do the steps below</li>
                  <li>
                    &nbsp;Click the ok button on the window.</li>
                  <li>
                    &nbsp;Click the &lsquo;Init App&rsquo; button . [ Wait for the process to be completed].</li>
                  <li>
                    &nbsp;Click the &lsquo;Set Up&rsquo; Files button . [ Wait for the process to be completed].</li>
                  <li>
                    &nbsp;Click the &lsquo;Contents&rsquo; button . [ Wait for the process to be completed].</li>
                  <li>
                    &nbsp;Copy the second&nbsp; adwiise_signage_player&nbsp; apk files received from adwiise into the above&nbsp;&nbsp;&nbsp; directory.</li>
                  <li>
                    &nbsp;Install the&nbsp;&nbsp; file by clicking on the above apk file</li>
                  <li>
                    &nbsp;Make sure the power chord is connected and the device is charging so that the screen won&#39;t go blank&nbsp;&nbsp; or sleep mode.</li>
                  <li>
                    &nbsp;Click on the Adwiise Signage Base app</li>
                  <li>
                    &nbsp;Click the Start Service button&nbsp;&nbsp;</li>
                  <li>
                    &nbsp;[optional] connect the HDMI cable to a TV/display and select Mirror on display.</li>
                  <li>
                    [make sure to use files of the formats jpeg, png and mp4 videos in an Android device . All other formats may fail or will not run on the device.]</li>
                  <li>
                    &nbsp; Keep the phone/device in the landscape mode.</li>
                  <li>
                    &nbsp;Now Click on the Adwiise Signage Player app . The app should be up and running successfully.</li>
                </ul>


                <div class="clear"></div>
              </div>


              <!--/ horizontal boxes -->
              <!-- vertical boxes -->
              <!--  <div class="white-box">
                <div class="vertical-box">
                  <h2>Helping you get the best results</h2>
                  <p>Straight'nin' the curve, flat'nin' the hills. Someday the mountain
                    might get 'em, but the law never will. Makin' their way, the
                    only way they know how, that's just a little bit more than the
                    law will allow.</p>
                </div>
                <div class="vertical-box">
                  <h2>30 days Free, no registration required</h2>
                  <p>Straight'nin' the curve, flat'nin' the hills. Someday the mountain
                    might get 'em, but the law never will. Makin' their way, the
                    only way they know how, that's just a little bit more than the
                    law will allow.</p>
                </div>
                <div class="white-box-bot"></div> -->

            </div>
            <!--/ vertical boxes -->
          </div>
          <!--/ text content -->
        </div>
        <!--/ content -->
        <!-- navigation -->
        <div class="navigation">
          <div class="left-menu">
            <ul>
              <li class="active"><a href="#"><img src="images/android_logo.jpg" alt="Android" /></a></li>
              <!-- <li><a href="#">Manage Projects</a></li>
              <li><a href="#">Email Integration</a></li>
              <li><a href="#">Massive Customization</a></li>
              <li><a href="#">Keep under Control</a></li>
              <li><a href="#">Reporting and Analytics</a></li> -->
            </ul>
          </div>
          <p><a href="registration"><img src="images/template-images/btn-free-signup.gif" alt="Free Sign Up" width="179" border="0" height="40"/></a></p>
          <p><a href="pricing"><img src="images/template-images/btn-pricing.gif" alt="Plans and Pricing" width="179" border="0" height="40"/></a></p>
        </div>
        <!--/ navigation -->
        <div class="clear"></div>
      </div>
      <!--/ middle -->

      <!--/ container -->
