      <div class="middle container">
        <!-- content -->
        <div class="wrapper">
          <div class="content">
            <!-- text content -->
            <div class="text">
              <h1 class="blue">Got something to say? Please drop us a line</h1>
              <p>Drop us a line and we will get back to you in 2 Business days.</p>
              <p>We look forward to hearing feedback from our clients. <br />
                Please let us know if we can be of any assistance and we?d be happy
                to help.</p>
              <div class="contact-form">
                <!--<s:form id="clientquery" name="clientquery" action="clientquery" theme="simple">
                  <p class="inputtext">
                    <label>Name *</label>
                    <s:textfield id="clientname" name="clientname" size="40" cssClass="required" />
                  </p>
                  <p class="inputtext">
                    <label>Email *</label>
                    <s:textfield id="email" name="email" size="40" cssClass="required" />
                  </p>
                  <p class="inputtext">
                    <label>Company</label>
                    <s:textfield id="company" name="company" size="40" cssClass="required" />
                  </p>
                  <p class="inputtext">
                    <label>Country</label>
                    <s:textfield id="country" name="country" size="40" cssClass="required" />
                  </p>
                  <div class="clear"></div>
                  <p class="textarea">
                    <label>Message *</label>
                    <s:textarea id="message" name="message" cols="40" rows="10" cssClass="required" />
                  </p>
                  <p class="btn-send text-right"> <span class="notice-field"><em><strong>*
                                                              mandatory fileds</strong></em></span>
                    <s:submit value="Send Message" />
                  </p>
                </s:form>-->
                <div class="clear"></div>
              </div>
            </div>
            <!--/ text content -->
          </div>
        </div>
        <!--/ content -->
        <!-- navigation -->
        <div class="navigation">
          <div class="contact-info">
            <h3>Address &amp; Contact Info</h3>
            <div class="row"> Giventa Inc.<br />
              519 Melrose St, Unit 501<br />
              Chicago ,Illinois-60657 <br />
              USA. </div>
            <div class="row"> Phone: <span class="blue"> +1 312 343 0073</span><br />
              <!--  Fax: &nbsp;&nbsp;&nbsp; <span class="blue">(800) 477 - 3487</span>  -->
            </div>
            <div class="row"> Email: <span class="blue"><a href="mailto:sales@giventa.com">sales@giventa.com</a></span>
            </div>
            <p> <a href="http://www.giventa.com">www.giventa.com</a></p><br />
          </div>
        </div>
        <!--/ navigation -->
        <div class="clear"></div>
      </div>
      <!--/ middle -->
