
<div class="modal-container">
  <div id="myModal" class="modal">
    <div class="modal-content">
      <h2><b>Second Level Timer activated</b></h2>
      <div class="clock-style">
        <span>Time Remain -</span>
        <span class="time-in-mins">{{ secondTimerLeft }}</span>
      </div>

      <div style='display: flex;'>
        <button (click)='continue()'>Continue</button>
        <button (click)='logout()'>Logout</button>
      </div>
    </div>
  </div>
</div>
    <app-web-header></app-web-header>

      <div class="container-fluid bg-light">
        <router-outlet></router-outlet>
      </div>

    <app-web-footer></app-web-footer>


