        <!--dynamic forms based on the article at url
        https://codinglatte.com/posts/angular/angular-dynamic-form-fields-using-formarray/-->
        <!--the radio and check box made bigger using the article at
        https://www.markuptag.com/increase-bootstrap-checkbox-and-radio-buttons-sizes/-->

        <!--section for pop up alert primary phone selection-->
        <ng-template #alertDialog let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Angular Bootstrap Modal Popup</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p><strong>Please select one of the Phone as your  <span class="text-primary">Primary phone number.</span> profile?</strong></p>
            <p>
              Mark the check box for Primary phone in the form
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">OK</button>
          </div>
        </ng-template>

      <div class="row">
        <div class="col">
          <h1>Reactive Forms</h1>
          <hr>
        </div>
      </div>
      <div class="container" *ngIf="isFormLoaded">


          <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="avatar" class="profile-img-card" />
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate >

            <div class="card"> <!--top card login details-->
              <div class="card-body" >

                <div class="row">
                  <div class="col">
            <div class="form-group">
              <label for="displayName">
                <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon> Display Name </label>
              <input type="text" size="35" maxlength="30" class="shortenedInputText"
                     [ngClass]="{'form-control': true,
                        'is-invalid': !displayName.valid && displayName.touched,
                        'is-valid': displayName.valid}"
                     formControlName="displayName" id="displayName" placeholder="Enter display name" (blur)="callValidateAllFormFields($event)">
              <span *ngIf="displayName.errors?.required && displayName.touched"  class="form-text invalid-feedback custom-invalid-feedback">Display name is required.</span>
              <span *ngIf="displayName.errors?.minlength && displayName.touched"  class="form-text invalid-feedback custom-invalid-feedback">Display name should be at least 2 characters.</span>
            </div>
                  </div> <!--col end-->
                  <div class="col">
            <div class="form-group">
              <label for="email"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon> Email </label>
              <input type="email"  size="70" maxlength="80" class="shortenedInputText" [ngClass]="{'form-control': true,
                        'is-invalid': !email.valid && email.touched,
                        'is-valid': email.valid}"  [formControlName]="'email'" id="email" placeholder="email">
              <span *ngIf="email.errors?.required && email.touched"  class="form-text invalid-feedback custom-invalid-feedback">Email is required.</span>
              <span *ngIf="email.errors?.email && email.touched"  class="form-text invalid-feedback custom-invalid-feedback">Enter a valid email.</span>
            </div>
                  </div> <!--col end-->
                </div> <!--row end-->
                <div class="row"> <!--password row-->
                  <div class="col">
            <div class="form-group">
              <label for="password"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"></fa-icon>Password</label>
              <input type="password" size="35" maxlength="30" class="shortenedInputText" [ngClass]="{'form-control': true,
                        'is-invalid': !password.valid && password.touched,
                        'is-valid': password.valid}"
                                                            [formControlName]="'password'" id="password" placeholder="password">
              <span *ngIf="password.errors?.required && password.touched"  class="form-text invalid-feedback custom-invalid-feedback">Password is required.</span>
              <span *ngIf="password.errors?.minlength && password.touched"  class="form-text invalid-feedback custom-invalid-feedback">Password should be at least 6 characters.</span>
            </div>
                  </div> <!--col end-->
                  <div class="col">
            <div class="form-group">
              <label for="matchingPassword"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon> Confirm Password</label>
              <input type="password" size="45" maxlength="30" class="shortenedInputText" [ngClass]="{'form-control': true,
                        'is-invalid': !matchingPassword.valid && matchingPassword.touched,
                        'is-valid': matchingPassword.valid}" [formControlName]="'matchingPassword'" id="matchingPassword" placeholder="matching password">
              <span *ngIf="matchingPassword.errors?.required && matchingPassword.touched"  class="form-text invalid-feedback custom-invalid-feedback">Matching password is required.</span>
              <span *ngIf="matchingPassword.errors?.minlength && matchingPassword.touched"  class="form-text invalid-feedback custom-invalid-feedback">Matching password should be at least 6 characters.</span>
            </div>
                </div> <!--col end-->
              </div> <!--row end-->
              </div> <!--card-body end-->
              </div> <!--card end-->
              <!--address start -->
            <div class="card">
              <div class="card-body" formArrayName="postalAddresses">
                <div class="card-title">Address</div>
                <div class="form-group">
                  <div class="col-md-offset-2 col-md-4">
                    <button type="button" class="btn btn-sm btn-success" title="Add Address" (click)="addPostalAddress()">
                      <!--<i class="fas fa-plus-circle fa-lg">&nbsp; </i>-->
                      <i class="fas fa-minus"></i>
                      <fa-icon [icon]="['fas', 'plus-circle']" size="lg"> </fa-icon>
                      Address
                    </button>
                  </div>
                </div>
                <div  *ngFor="let postalAddress of postalAddressGroupList.controls; let i = index;">
                  <hr *ngIf="i>0">
                  <div [formGroupName]="i" > <!--phonegroup start-->
                    <input type="hidden" formControlName="addressId" [id]="'addressId'+i" />
                    <div class="row" >
                      <div class="col">
                        <div class="form-group">
                          <label [attr.for]="'addressTypeId'+i"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon> Address Type  </label>

                          <select class="shortenedSelect" [formControlName]="'addressTypeId'"  [ngClass]="{'form-control': true,
                        'is-invalid': !postalAddress.get('addressTypeId').valid ,
                        'is-valid': postalAddress.get('addressTypeId').valid}"  [id]="'addressTypeId'+i">
                            <option  [ngValue]="null" disabled> Select Address Type</option>
                           <!-- <option  [ngValue]="0" disabled> Select Address Type</option>-->
                            <option [ngValue]="addressType.addressTypeId"  *ngFor="let addressType of addressTypes">{{addressType.addressType}}</option>
                          </select>
                          <span *ngIf="postalAddress.get('addressTypeId').errors?.required && postalAddress.get('addressTypeId').touched"
                                class="form-text invalid-feedback custom-invalid-feedback"> Address Type is required.</span>

                        </div>
                      </div> <!--col addressTypeId  end-->

                    <!--  <div class="col" > </div>
-->
                     <!-- <div class="card">
                        <div class="card-body">
                          <div class="card-title">Choose Gender</div>-->
                      <div class="col float-left border border-info" >
                        <div class="form-group">
                          <label  class="form-check-inline">Choose Gender</label>
                          <div class="form-check-inline">
                            <label class="form-check-label" [attr.for]="'male'+i">male</label>
                            <input class="form-check-input" type="radio"
                                   name="gender"  formControlName="gender" [id]="'male'+i" value="M">

                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label" [attr.for]="'female'+i">female</label>
                            <input class="form-check-input" type="radio"
                                   name="gender" formControlName="gender" [id]="'female'+i" value="F">

                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label" [attr.for]="'other'+i">other</label>
                            <input class="form-check-input" type="radio"
                                   name="gender"  formControlName="gender" [id]="'other'+i" value="O">

                          </div>

                          <div class="form-check-inline">
                            <label class="form-check-label  mx-auto" [attr.for]="'decline'+i">decline to verify</label>
                            <input class="form-check-input" type="radio"
                                   name="gender"   formControlName="gender" [id]="'decline'+i" value="D">

                          </div>
                        <!--  <small *ngIf="gender.errors?.required && gender.touched" class="form-check-inline form-text custom-invalid-feedback">Pick one option.</small>-->
                        </div> <!--gender formgroup end-->
                      </div> <!--col gender end-->
                      <!--  </div>--> <!--gender body  end-->
                    <!--  </div> gender card  end-->

                      <div class="col-sm-1 pull-right" *ngIf="postalAddressGroupList.length>1">
                          <button type="button" class="btn btn-danger btn-sm pull-right"
                                  title="Delete Address" (click)="removePostalAddress(i)">
                            <!--<i class="fas fa-minus-circle fa-lg">&nbsp; </i>-->
                            <fa-icon [icon]="['fas', 'trash-alt']" size="lg"> </fa-icon>
                           <!-- Address-->
                          </button>

                      </div>

                    </div>  <!--row 1 adrs  end-->

                    <div class="row"> <!--row name details-->
                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'namePrefix'+i">Name Prefix</label>
                          <input type="text" [ngClass]="{'form-control': true}"
                                 formControlName="namePrefix" [id]="'namePrefix'+i" placeholder="Name Prefix">
                        </div>
                      </div>

                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'firstName'+i"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon> First Name </label>
                          <input type="text"  formControlName="firstName" [ngClass]="{'form-control': true,
                        'is-invalid': !postalAddress.get('firstName').valid && postalAddress.get('firstName').touched,
                        'is-valid': postalAddress.get('firstName').valid}"
                                 [id]="'firstName'+i" placeholder="First Name">
                        </div>
                      </div>

                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'lastName'+i"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon> Last Name </label>
                          <input type="text" formControlName="lastName" [ngClass]="{'form-control': true,
                        'is-invalid': !postalAddress.get('lastName').valid && postalAddress.get('lastName').touched,
                        'is-valid': postalAddress.get('lastName').valid}" [id]="'lastName'+i" placeholder="Last Name">
                        </div>
                      </div>

                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'nameSuffix'+i"> Name Suffix </label>
                          <input type="text" [ngClass]="{'form-control': true}"
                                 formControlName="nameSuffix" [id]="'nameSuffix'+i" placeholder="Name suffix">
                        </div>
                      </div>
                  </div>  <!--row 2 name  end-->

                    <div class="row">
                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'companyName'+i"> Company name </label>
                          <input type="text" [ngClass]="{'form-control': true}"
                                 formControlName="companyName" [id]="'companyName'+i" placeholder="Company name">
                        </div>
                      </div>
                    </div>  <!--row end single column company name-->

                    <div class="row"> <!--row address lines-->
                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'addressLine1'+i"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon> Street Address </label>
                          <input type="text" [ngClass]="{'form-control': true,
                        'is-invalid': !postalAddress.get('addressLine1').valid && postalAddress.get('addressLine1').touched,
                        'is-valid': postalAddress.get('addressLine1').valid}"
                                 formControlName="addressLine1" [id]="'addressLine1'+i" placeholder="Enter street address">
                          <span *ngIf="postalAddress.get('addressLine1').errors?.required && postalAddress.get('addressLine1').touched"
                                class="form-text invalid-feedback custom-invalid-feedback"> Address line is required.</span>
                          <span *ngIf="postalAddress.get('addressLine1').errors?.minlength && postalAddress.get('addressLine1').touched"  class="form-text invalid-feedback custom-invalid-feedback">Address line should be at least 3 characters long.</span>
                        </div>
                      </div>

                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'addressLine2'+i">Home / Apartment Number </label>
                          <input type="text" [ngClass]="{'form-control': true}"
                                 formControlName="addressLine2" [id]="'addressLine2'+i" placeholder="Address line two">
                        </div>
                      </div>

                 <div class="col" >
                 <div class="form-group">
                   <label [attr.for]="'addressLine3'+i">Address Line 3</label>
                 <input type="text" [ngClass]="{'form-control': true}"
                   formControlName="addressLine3" [id]="'addressLine3'+i" placeholder="Address Line 3">
                   </div>
                   </div>

                    </div> <!--row address lines 1,2.. end-->

                    <div class="row">

                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'cityOrTown'+i"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon> City Or Town </label>
                          <input type="text" [ngClass]="{'form-control': true,
                        'is-invalid': !postalAddress.get('cityOrTown').valid && postalAddress.get('cityOrTown').touched,
                        'is-valid': postalAddress.get('cityOrTown').valid}"
                                 formControlName="cityOrTown" [id]="'cityOrTown'+i" placeholder="City Or Town">
                          <span *ngIf="postalAddress.get('cityOrTown').errors?.required && postalAddress.get('cityOrTown').touched"
                                class="form-text invalid-feedback custom-invalid-feedback"> City Or Town is required.</span>
                          <span *ngIf="postalAddress.get('cityOrTown').errors?.minlength && postalAddress.get('addressLine1').touched"  class="form-text invalid-feedback custom-invalid-feedback">City Or Town should be at least 3 characters long.</span>
                        </div>
                      </div>

                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'countyOrMuncipalOrSublocality'+i">County Or Muncipal Or Sublocality</label>
                          <input type="text" [ngClass]="{'form-control': true}"
                                 formControlName="countyOrMuncipalOrSublocality" [id]="'countyOrMuncipalOrSublocality'+i" placeholder="County Or Muncipal Or Sublocality">
                        </div>
                      </div>

                    </div> <!--row city county end-->

                    <div class="row">
                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'stateOrProvince'+i"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon> State Or Province </label>
                          <input type="text" [ngClass]="{'form-control': true,
                        'is-invalid': !postalAddress.get('stateOrProvince').valid && postalAddress.get('stateOrProvince').touched,
                        'is-valid': postalAddress.get('stateOrProvince').valid}"
                                 formControlName="stateOrProvince" [id]="'stateOrProvince'+i" placeholder="State Or Province">
                          <span *ngIf="postalAddress.get('stateOrProvince').errors?.required && postalAddress.get('stateOrProvince').touched"
                                class="form-text invalid-feedback custom-invalid-feedback"> State Or Province is required.</span>
                          <span *ngIf="postalAddress.get('stateOrProvince').errors?.minlength && postalAddress.get('stateOrProvince').touched"  class="form-text invalid-feedback custom-invalid-feedback">State Or Province  should be at least 3 characters long.</span>

                        </div>
                      </div>

                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'zipOrPostalCode'+i">Zip Or PostalCode</label>
                          <input type="text" [ngClass]="{'form-control': true}"
                                 formControlName="zipOrPostalCode" [id]="'zipOrPostalCode'+i" placeholder="Zip Or Postal Code">
                        </div>
                      </div>

                      <div class="col" >
                        <div class="form-group">
                          <label [attr.for]="'country'+i"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon>  Country</label>
                          <select class="shortenedSelect" formControlName="countryId"  [ngClass]="{'form-control': true,
                        'is-invalid': !postalAddress.get('countryId').valid ,
                        'is-valid': postalAddress.get('countryId').valid && postalAddress.get('countryId').dirty}" [id]="'country'+i">
                            <option  [ngValue]="null" disabled> Select Country</option>
                          <option [ngValue]="country.countryId" selected *ngFor="let country of countries">{{country.name}}</option>
                          </select>
                        </div>
                      </div>

                    </div> <!--row state country end-->

                  </div> <!--i iter end-->
                </div> <!--ngfor end-->
             </div>  <!--card body end-->
            </div><!--card main end-->

          <div class="card">
              <div class="card-body" formArrayName="phoneNumbers">
                <div class="card-title">Phone Details</div>
                <div class="form-group">
                  <div class="col-md-offset-2 col-md-4">
                    <button type="button" class="btn btn-sm btn-success" (click)="addPhoneNumber()">
                      <fa-icon [icon]="['fas', 'plus-circle']" size="lg"> </fa-icon>
                      Phone
                    </button>
                  </div>
                </div>
                <div class="row">

                  <div  *ngFor="let phoneNumber of phoneNumberGroupList.controls; let i = index;">
                    <hr *ngIf="i>0">
                    <div [formGroupName]="i" > <!--phonegroup start-->
                      <!-- hidden fields for each phone group start-->
                      <input type="hidden"  [formControlName]="'phoneId'" [id]="'phoneId'+i" />

                      <!-- hidden fields for each phone group end -->
                      <div  class="row"> <!--phone row 1-->
                        <div class="col" >
                        <div class="form-group">

                          <label [attr.for]="'phoneContactTypeId'+i"> <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon>  Phone Contact Type</label>

                          <select class="shortenedSelect" [formControlName]="'phoneContactTypeId'"  [ngClass]="{'form-control': true,
                        'is-invalid': !phoneNumber.get('phoneContactTypeId').valid && phoneNumber.get('phoneContactTypeId').dirty ,
                        'is-valid': phoneNumber.get('phoneContactTypeId').valid && phoneNumber.get('phoneContactTypeId').dirty}"    [id]="'phoneContactTypeId'+i">
                            <option  [ngValue]="null" disabled> Select Phone Type</option>
                            <option [ngValue]="phoneContactType.phoneContactTypeId" selected *ngFor="let phoneContactType of phoneContactTypes">{{phoneContactType.phoneContactType}}</option>
                          </select>
                          <span *ngIf="phoneNumber.get('phoneContactTypeId').errors?.required && phoneNumber.get('phoneContactTypeId').touched"
                                class="form-text invalid-feedback custom-invalid-feedback"> Phone Contact Type is required.</span>

                        </div>
                          </div> <!--col end-->
                        <div class="col">
                        <div class="form-group" >
                          <label [attr.for]="'isPrimaryPhoneNumber'+i" class="form-check-label">  <fa-icon [icon]="['fas', 'asterisk']" size="xs">  </fa-icon> Primary phone?
                          <input class="form-check form-check-input" #txt+i type="checkbox" [formControlName]="'isPrimaryPhoneNumber'"
                                   [id]="'isPrimaryPhoneNumber'+i" (click)="onPrimaryPhoneChange($event)"/>

                          </label>

                           <!-- <span class="checkmark"> </span>-->

                          <!-- <br class="clear" />-->
                        </div>
                        </div> <!--col end-->
                        <div class="col">
                        <div class="form-group">
                          <label [attr.for]="'customLabel'+i">Custom Label</label>
                          <input type="text" [ngClass]="{'form-control': true}" [formControlName]="'customLabel'" value="true" [id]="'customLabel'+i" />
                          <!-- <br class="clear" />-->
                        </div>
                        </div> <!--col end-->

                        <div class="col-sm-2" *ngIf="phoneNumberGroupList.length>1">
                          <button type="button" class="btn btn-danger btn-sm pull-right"
                                  title="Delete Phone" (click)="removePhoneNumber(i)">
                            <fa-icon [icon]="['fas', 'minus-circle']" size="lg"> </fa-icon>
                            Phone
                          </button>
                        </div>

                      </div> <!--phone row 1 end-->

                      <div  class="row"> <!--phone row 2 start -->
                        <div class="col">
                        <div class="form-group">
                          <label [attr.for]="'countryPrefix'+i">Country Prefix</label>
                          <input type="text"  maxlength="4"  pattern="^\d+$" [ngClass]="{'form-control': true,
                        'is-invalid': !phoneNumber.get('countryPrefix').valid && phoneNumber.get('countryPrefix').touched,
                        'is-valid': phoneNumber.get('countryPrefix').valid}" [formControlName]="'countryPrefix'"  [id]="'countryPrefix'+i" />
                          <span class="text-info">[Only numbers allowed]  </span>
                          <!-- <br class="clear" />-->
                        </div>
                        </div> <!--col end-->

                        <div class="col">
                        <div class="form-group">
                          <label [attr.for]="'countyPrefix'+i">County / Area Code </label>
                          <input type="text" maxlength="7"  pattern="^\d+$" [ngClass]="{'form-control': true,
                        'is-invalid': !phoneNumber.get('countyPrefix').valid && phoneNumber.get('countyPrefix').touched,
                        'is-valid': phoneNumber.get('countyPrefix').valid}" [formControlName]="'countyPrefix'"  [id]="'countyPrefix'+i" />
                          <span class="text-info">[Only numbers allowed]  </span>
                          <!-- <br class="clear" />-->
                        </div>
                        </div> <!--col end-->
                        <div class="col">
                        <div class="form-group">
                          <label [attr.for]="'localLeadingZeros'+i"> Local Leading Zeros</label>
                          <input type="text"  maxlength="4"  pattern="[0]{1,4}" [formControlName]="'localLeadingZeros'"  [id]="'localLeadingZeros'+i"
                                [ngClass]="{'form-control': true,
                        'is-invalid': !phoneNumber.get('localLeadingZeros').valid && phoneNumber.get('localLeadingZeros').touched,
                        'is-valid': phoneNumber.get('localLeadingZeros').valid && phoneNumber.get('localLeadingZeros').dirty }" />
                          <span class="text-info">[Zeroes only and maximum length 4]  </span>
                          <!-- <br class="clear" />-->
                         <!-- <span *ngIf="phoneNumber.get('localLeadingZeros').errors?.pattern && phoneNumber.get('localLeadingZeros').touched"
                                class="form-text invalid-feedback custom-invalid-feedback"> Only zeroes allowed for Local Leading Zeros.</span>-->
                         <!-- <span *ngIf="phoneNumber.get('localLeadingZeros').errors?.maxlength && phoneNumber.get('localLeadingZeros').touched"
                                class="form-text invalid-feedback custom-invalid-feedback"> Only maximum of 4 zeroes allowed for Local Leading Zeros.</span>-->

                        </div>
                        </div> <!--col end-->

                      </div> <!--phone row 2 end-->

                      <div  class="row"> <!--phone num row  start -->
                        <div class="col-md-4">
                          <div class="form-group" >
                          <label [attr.for]="'localTelNumber'+i" > <fa-icon [icon]="['fas', 'asterisk']" size="xs"> </fa-icon> Phone Number</label>
                            <input type="text"  size="35" maxlength="14"  formControlName="localTelNumber"  [ngClass]="{'form-control': true,
                        'is-invalid': !phoneNumber.get('localTelNumber').valid && (phoneNumber.get('localTelNumber').touched || phoneNumber.get('localTelNumber').dirty),
                        'is-valid': phoneNumber.get('localTelNumber').valid && (phoneNumber.get('localTelNumber').touched || phoneNumber.get('localTelNumber').dirty) }"  [id]="'localTelNumber'+i" />
                            <span *ngIf="phoneNumber.get('localTelNumber').errors?.required && (phoneNumber.get('localTelNumber').touched || phoneNumber.get('localTelNumber').dirty) "
                                  class="form-text invalid-feedback custom-invalid-feedback"> Phone Number is required.</span>
                            <span *ngIf="phoneNumber.get('localTelNumber').errors?.minlength && phoneNumber.get('localTelNumber').touched "  class="form-text invalid-feedback custom-invalid-feedback">Phone Number should be at least 10 digits.</span>
                           <!-- <span *ngIf="phoneNumber.get('localTelNumber').errors?.pattern && phoneNumber.get('localTelNumber').touched || phoneNumber.get('localTelNumber').dirty"  class="form-text invalid-feedback custom-invalid-feedback">Can contain only digits, space and no special characters.</span>-->
                            <span *ngIf="phoneNumber.get('localTelNumber').errors?.phoneNumberDigitsSpace && phoneNumber.get('localTelNumber').touched || phoneNumber.get('localTelNumber').dirty "  class="form-text invalid-feedback custom-invalid-feedback">Can contain only digits, space and no special characters.</span>
                            <span *ngIf="phoneNumber.get('localTelNumber').errors?.phoneNumberTenDigits && phoneNumber.get('localTelNumber').touched || phoneNumber.get('localTelNumber').dirty"  class="form-text invalid-feedback custom-invalid-feedback">Should contain exactly 10 digits.</span>

                          </div>

                        </div> <!--col end-->
                       </div> <!--phone row 3 end-->

                    </div> <!--phonegroup end-->

                  </div>
                </div>
              </div>
          </div>

            <div *ngIf="isUpDateUserProfile; else registerUserProfile" >
              <div  class="form-group">
              <button class="btn btn-primary btn-block" [disabled]="!registerForm.valid">Update Profile</button>
              </div>
              <div class="alert alert-warning" *ngIf="isSignUpFailed">
                Update profile failed! <br />{{ errorMessage }}
              </div>
              <br class="clear" />
           </div>

            <ng-template #registerUserProfile>
              <div  class="form-group">
                <button class="btn btn-primary btn-block" [disabled]="!registerForm.valid">Register User</button>
              </div>
              <div class="alert alert-warning" *ngIf="isSignUpFailed">
                Signup failed!<br /> {{ errorMessage }}
              </div>
              <br class="clear" />
            </ng-template>
            <br class="clear" />
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">

            <div *ngIf="isUpDateUserProfile; else registerUserSuccess" >
              User profile updated successfully

            </div>

              <ng-template #registerUserSuccess>
                User registration successful
              </ng-template>
            <br class="clear" />
          </div>

      </div>
