

<div class="row">
  <div class="col">
    <h1>Reactive Forms</h1>
    <hr>
  </div>
</div>
<div class="container">
  <div class="col-md-12">

		<img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="avatar" class="profile-img-card" />
		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="displayName">Display Name</label>
        <input type="text"
               [ngClass]="{'form-control': true,
                  'is-invalid': !regnForm.displayName.valid && regnForm.displayName.touched,
                  'is-valid': regnForm.displayName.valid}"
               [formControlName]="'displayName'" id="displayName" placeholder="Enter display name">
        <span *ngIf="regnForm.displayName.errors?.required && regnForm.displayName.touched"  class="form-text invalid-feedback custom-invalid-feedback">Display name is required.</span>
        <span *ngIf="regnForm.displayName.errors?.minlength && regnForm.displayName.touched"  class="form-text invalid-feedback custom-invalid-feedback">Display name should be atleast 2 characters.</span>
      </div>
			<div class="form-group">
				<label for="email">Email</label> <input type="email"  [ngClass]="{'form-control': true,
                  'is-invalid': !regnForm.email.valid && regnForm.email.touched,
                  'is-valid': regnForm.email.valid}"
                                                [formControlName]="'email'" id="email" placeholder="email">
        <span *ngIf="regnForm.email.errors?.required && regnForm.email.touched"  class="form-text invalid-feedback custom-invalid-feedback">Email is required.</span>
        <span *ngIf="regnForm.email.errors?.email && regnForm.email.touched"  class="form-text invalid-feedback custom-invalid-feedback">Enter a valid email.</span>
      </div>
			<div class="form-group">
				<label for="password">Password</label> <input type="password" [ngClass]="{'form-control': true,
                  'is-invalid': !regnForm.password.valid && regnForm.password.touched,
                  'is-valid': regnForm.password.valid}"
                                                      [formControlName]="'password'" id="password" placeholder="password">
        <span *ngIf="regnForm.password.errors?.required && regnForm.password.touched"  class="form-text invalid-feedback custom-invalid-feedback">Password is required.</span>
        <span *ngIf="regnForm.password.errors?.minlength && regnForm.password.touched"  class="form-text invalid-feedback custom-invalid-feedback">Password should be atleast 6 characters.</span>
      </div>

			<div class="form-group">
				<label for="matchingPassword">Confirm Password</label> <input type="password" [ngClass]="{'form-control': true,
                  'is-invalid': !regnForm.matchingPassword.valid && regnForm.matchingPassword.touched,
                  'is-valid': regnForm.matchingPassword.valid}"
                                                                      [formControlName]="'matchingPassword'" id="matchingPassword" placeholder="matchingPassword">
        <span *ngIf="regnForm.matchingPassword.errors?.required && regnForm.matchingPassword.touched"  class="form-text invalid-feedback custom-invalid-feedback">Matching password is required.</span>
        <span *ngIf="regnForm.matchingPassword.errors?.minlength && regnForm.matchingPassword.touched"  class="form-text invalid-feedback custom-invalid-feedback">Matching password should be atleast 6 characters.</span>
      </div>

        <!--address-->
      <div  formGroupName="postalAddress">
      <div class="row" >

        <div class="col" >
          <div class="form-group">
          <label  class="form-check-inline">Choose Gender</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"

                   [formControlName]="'gender'" id="male" value="male">
            <label class="form-check-label" for="male">male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"
                   [formControlName]="'gender'" id="female" value="female">
            <label class="form-check-label" for="female">female</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"
                   [formControlName]="'gender'" id="other" value="other">
            <label class="form-check-label" for="other">other</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"
                   [formControlName]="'gender'" id="decline" value="decline">
            <label class="form-check-label" for="decline">decline to verify</label>
          </div>
          <!--<small *ngIf="regnForm.gender.errors?.required && regnForm.gender.touched" class="form-check-inline form-text custom-invalid-feedback">Pick one option.</small>-->
          </div>
          </div><!--col-->

      </div> <!--row-->

      <div class="col-12">

        <div class="row">
          <div class="col" >
            <div class="form-group">
              <label for="addressType"> Name Suffix </label>
              <input type="text"
                     [formControlName]="'addressTypeId'" id="addressType" placeholder="Address Type">
            </div>
          </div> <!--col-->

        </div>  <!--row-->

        <div class="row">
          <div class="col" >
            <div class="form-group">
              <label for="namePrefix">Name Prefix</label>
              <input type="text"
                     [formControlName]="'namePrefix'" id="namePrefix" placeholder="Name Prefix">
            </div>
          </div> <!--col-->

          <div class="col" >
            <div class="form-group">
              <label for="firstName">First Name </label>
              <input type="text"
                     [formControlName]="'firstName'" id="firstName" placeholder="First Name">
            </div>
          </div><!--col-->

          <div class="col" >
            <div class="form-group">
              <label for="lastName">Last Name </label>
              <input type="text"
                    [formControlName]="'lastName'" id="lastName" placeholder="Last Name">
            </div>
          </div>

        </div> <!--row-->

        <div class="row">
          <div class="col" >
            <div class="form-group">
              <label for="nameSuffix"> Name Suffix </label>
              <input type="text"
                     [formControlName]="'nameSuffix'" id="nameSuffix" placeholder="Name suffix">
            </div>
          </div> <!--col-->

          <div class="col" >
            <div class="form-group">
              <label for="companyName"> Company name </label>
              <input type="text"
                     [formControlName]="'companyName'" id="companyName" placeholder="Company name">
            </div>
          </div><!--col-->

        </div>  <!--row-->

        <div class="row">
          <div class="col" >
            <div class="form-group">
              <label for="addressLine1">Street Address</label>
              <input type="text"
                     [formControlName]="'addressLine1'" id="addressLine1" placeholder="Enter street address">
            </div>
          </div> <!--col-->

          <div class="col" >
            <div class="form-group">
              <label for="addressLine2">Home / Apartment Number </label>
              <input type="text"
                     [formControlName]="'addressLine2'" id="addressLine2" placeholder="Address line two">
            </div>
          </div><!--col-->

        </div> <!--row-->

        <div class="row">
          <div class="col" >
            <div class="form-group">
              <label for="addressLine3">Address Line 3</label>
              <input type="text"
                     [formControlName]="'addressLine3'" id="addressLine3" placeholder="Address Line 3">
            </div>
          </div> <!--col-->

          <div class="col" >
            <div class="form-group">
              <label for="cityOrTown">City Or Town</label>
              <input type="text"
                     [formControlName]="'cityOrTown'" id="cityOrTown" placeholder="City Or Town">
            </div>
          </div><!--col-->

        </div> <!--row-->

        <div class="row">
          <div class="col" >
            <div class="form-group">
              <label for="countyOrMuncipalOrSublocality">County Or Muncipal Or Sublocality</label>
              <input type="text"
                     [formControlName]="'countyOrMuncipalOrSublocality'" id="countyOrMuncipalOrSublocality" placeholder="County Or Muncipal Or Sublocality">
            </div>
          </div> <!--col-->

          <div class="col" >
            <div class="form-group">
              <label for="stateOrProvince">Zip Or PostalCode</label>
              <input type="text"
                     [formControlName]="'stateOrProvince'" id="stateOrProvince" placeholder="State Or Province">
            </div>
          </div><!--col-->

        </div> <!--row-->
        <div class="row">
          <div class="col" >
            <div class="form-group">
              <label for="zipOrPostalCode">County Or Muncipal Or Sublocality</label>
              <input type="text"
                     [formControlName]="'zipOrPostalCode'" id="zipOrPostalCode" placeholder="Zip Or Postal Code">
            </div>
          </div> <!--col-->

          <div class="col" >
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text"
                     [formControlName]="'countryId'" id="country" placeholder="Country">
            </div>
          </div><!--col-->

        </div> <!--row-->

      </div><!-- col-12-->

      </div>


			<div class="form-group">
				<button class="btn btn-primary btn-block">Sign Up</button>
			</div>
			<div class="alert alert-warning" *ngIf="isSignUpFailed">
				Signup failed!<br />{{ errorMessage }}
			</div>
		</form>
		<div class="alert alert-success" *ngIf="isSuccessful">Your registration is successful!</div>
	</div>
</div>
