    <div class="container" width="75%" margin="auto">
  <!-- middle -->
        <div class="middle">
          <!-- content -->
          <div class="wrapper">
            <div class="content">
              <!-- text content -->
              <div class="text">
                <h1>Because your audience deserves the best.</h1>
                <p class="text-big" align="justify">ADWIISE was established
                  in 2011. Our corporate roots are in the demanding broadcasting and
                  digital signage industries specializing in advertisement management and automated playback
                  systems. Since our beginning we have based our success on doing
                  repeat business with the best companies in each industry segment,
                  a practice we maintain today.</p>
                <p class="text-big" align="justify">ADWIISE is the division of
                  Giventa Inc. of Chicago,
                  the creators of the inFoAdPlatform.</p>
                <p class="text-big" align="justify"> While we now supply products and services
                  into different industry segments on 6 continents we still do business with
                  the best. We are particularly proud of the corporate referrals we
                  regularly receive.</p>
                <p class="text-big" align="justify">We have a worldwide authorized
                  reseller channel available to you and your colleagues whether you
                  want to feed a few video monitors or thousands of LCD screens internationally.
                  Just let us know how we can be of service.</p>
                <!-- vertical boxes -->
                <div class="white-box">
                  <!-- <img src="images/template-images/about-us.jpg" alt="" width="716" height="222">  -->
                  <div class="vertical-box">
                    <h2>inFoAdPlatform- the advanced</h2>
                    <p align="justify">Software platform that runs on contemporary
                      mobile hardware and graphics cards and is used in a wide range of
                      industry segments such as digital signage, cable TV advertising
                      and PEG channels, broadcasting, hospitality, education, military,
                      gaming, religious, sports, corporate, financial, and LED outdoor.</p>
                  </div>
                  <div class="vertical-box">
                    <h2>Content Management Services</h2>
                    <p align="justify">Content Management Services includes the sourcing,
                      management and guaranteed delivery of data and content for your
                      displays or networks. This includes the turnkey supply of advertising
                      and Information content, news, weather, sports, financial, lottery
                      and trivia content from the world?s leading information providers.</p>
                  </div>
                  <div class="vertical-box">
                    <h2>Production and Creative Services</h2>
                    <p align="justify">Production and Creative Services are an important
                      part of our business. Whether you want us to work with your
                      creative team, your agency or provide a complete turnkey product,
                      our team of dedicated, creative professionals is available to
                      support your Point of Purchase retail displays, your corporate
                      network or your place-based media needs.</p>
                  </div>
                  <div class="vertical-box">
                    <h2>Technical Support Services</h2>
                    <p align="justify">We have outstanding professionals in this area.
                      This is fundamental before, during, and long after you purchase,
                      as your needs will expand and change in the coming years. Our
                      support is around the clock, around the world. Our support commitment
                      to you and our authorized resellers is unsurpassed.</p>
                  </div>
                  <div class="vertical-box">
                    <h2>Authorized  Resellers</h2>
                    <p align="justify">Authorized  Resellers are available
                      to you and your organization around the world. More will be
                      added to meet emerging market opportunities. Our resellers are
                      trained in the sales and technical support of all
                      products.</p>
                  </div>
                  <div class="vertical-box">
                    <h2>OEM Projects</h2>
                    <p align="justify">ADWIISE has numerous OEM and operating
                      business projects in place. By participating in the actual operation
                      of businesses that use our platform we are keeping on the leading
                      edge of technology and testing of new features prior to market
                      release.</p>
                  </div>
                  <div class="white-box-bot"></div>
                </div>
                <!--/ vertical boxes -->
                <!-- vertical box 2 -->
                <!--  <div class="white-box nobg">
                  <h2>Guidelines that we follow:</h2>
                  <div class="vertical-box">
                    <ul>
                      <li><strong>Children of the sun, see your time has just begun.</strong>
                        I was sent to prison by a military court for a crime they
                        didn't commit. </li>
                      <li><strong>Ten years ago a crack commando unit</strong>. I
                        was sent to prison by a military court for a crime they didn't
                        commit. </li>
                      <li><strong>Children of the sun, see your time has just begun.</strong>
                        I was sent to prison by a military court for a crime they
                        didn't commit. </li>
                    </ul>
                  </div>
                  <div class="vertical-box">
                    <ul>
                      <li><strong>Children of the sun, see your time has just begun.</strong>
                        I was sent to prison by a military court for a crime they
                        didn't commit. </li>
                      <li><strong>Ten years ago a crack commando unit</strong>. I
                        was sent to prison by a military court for a crime they didn't
                        commit. </li>
                      <li><strong>Children of the sun, see your time has just begun.</strong>
                        I was sent to prison by a military court for a crime they
                        didn't commit. </li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                </div> -->
                <!--/ vertical box 2 -->
                <p class="text-big" align="justify">If you have an innovative project,
                  or an enterprise level plan that you wish to discuss in strict confidence
                  please contact us.</p>
              </div>
              <!--/ text content -->
            </div>
          </div>
          <!--/ content -->
          <!-- navigation -->
          <div class="navigation">
            <div class="left-menu">
              <ul>
                <li class="active"><a href="#">About the Company</a></li>
                <!-- <li><a href="#">Meet our Team</a></li>
                <li><a href="#">How we do things</a></li>
                <li><a href="#">Join the Team</a></li> -->
              </ul>
            </div>
            <!-- <p><a href="#"><img src="images/template-images/btn-view-sites.gif" alt="View our websites" width="179" border="0" height="40"></a></p>
            <p><a href="#"><img src="images/template-images/btn-our-products.gif" alt="Our Products" width="179" border="0" height="40"></a></p> -->
          </div>
          <!--/ navigation -->
          <div class="clear"></div>
        </div>
        <!--/ middle -->
        </div>  <!--content-->
